@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 1vw;
  text-transform: uppercase;
  font-weight: 500;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  position: sticky;
  z-index: 2;
  top: 0;
  background: white;
}

.header img {
  height: 60px;
}

.header-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 5px;
  flex-wrap: wrap;
}

.header-link {
  text-decoration: none;
  color: #000000;
}
.header-link:hover {
  color: grey;
}

.cart-items {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.cart-items img {
  height: 30px;
}

.cart-items .cartItem-count {
  background: white;
  position: absolute;
  top: 50%;
  height: 46%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
}

.dropdown {
  border: 1px solid rgb(17, 16, 16);
  background: white;
  position: absolute !important;
  top: 8vh;
  right: -20px;
  width: 240px;
  height: 42vh;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.dropdown-collections {
  height: 100%;
  width: auto !important;
  overflow-y: scroll;
  overflow-x: auto;
  padding: 4px;
  margin-bottom: 8px;
}

.dropdown-collection img {
  object-fit: cover;
  height: 90px;
  min-width: 80px;
}
.dropdown-collection {
  display: flex !important;
  margin-bottom: 2vh;
  gap: 7%;
}

[class^="ico-"],
[class*=" ico-"] {
  font: normal 1em/1 Arial, sans-serif;
}
.ico-times:before {
  content: "\2716";
}

.itemDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  font-size: 17px;
}

.checkout-btn {
  height: 60px;
  text-transform: uppercase;
  background: black;
  color: white;
  transition: all ease-in-out 0.2s;
  font-size: 0.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.checkout-btn:hover {
  background: white;
  color: black;
}

.empty-cart {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: capitalize;
}
@media (max-width: 430px) {
  .header-options {
    gap: 5px;
  }
}
